:root {
  --white: #ffffff;
  --black: #222222;
  --grey: #888888;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--black);
}

.container {
  display: flex;
  flex-direction: row;
}

.btn {
  display: inline-block;
}

.row {
  display: flex;
}

.box {
  text-align: center;
  line-height: 40px;
  color: var(--grey);
  width: 40px;
  height: 40px;
  border-top: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
}

.col-1 {
  border-left: 2px solid var(--grey);
}

.row-1 > .box {
  border-top: 2px solid var(--grey);
}

.row-4 > .box,
.row-7 > .box {
  border-top: 2px solid var(--grey);
}

.col-4,
.col-7 {
  border-left: 2px solid var(--grey);
}

.col-9 {
  border-right: 2px solid var(--grey);
}

.row-9 > .box {
  border-bottom: 2px solid var(--grey);
}

.default {
  color: #c5cbce;
}
