* {
  box-sizing: border-box;
}

html {
  background-color: #222222;
}

.container {
  display: flex;
  flex-direction: row;
}

.btn {
  display: inline-block;
}

.row {
  display: flex;
}

.box {
  text-align: center;
  line-height: 40px;
  color: #888888;
  width: 40px;
  height: 40px;
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
}

.col-1 {
  border-left: 2px solid #ffffff;
}

.row-1 > .box {
  border-top: 2px solid #ffffff;
}

.row-4 > .box,
.row-7 > .box {
  border-top: 2px solid #ffffff;
}

.col-4,
.col-7 {
  border-left: 2px solid #ffffff;
}

.col-9 {
  border-right: 2px solid #ffffff;
}

.row-9 > .box {
  border-bottom: 2px solid #ffffff;
}

.default {
  color: #ffffff;
}
